<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title text="新增科研经历"></title>
    <script type="text/javascript" data-main="/jscustom/student/addResearch.js" src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
</head>
<body>
<div class="container">
    <!--表单-新增奖项-->
    <form class="form-horizontal" id="form_addResearch" method="post" style="margin: 10px">
        <br>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="r_start"><span class="text-danger">*</span>开始时间：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="text" id="r_start" name="r_start" placeholder="格式为：yyyy-mm-dd" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="r_end"><span class="text-danger">*</span>结束时间：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="text" id="r_end" name="r_end" placeholder="格式为：yyyy-mm-dd" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="r_content"><span class="text-danger">*</span>科研内容：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="text" id="r_content" name="r_content" required="required">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button id="btn_reset" type="reset" class="btn btn-primary">重 置</button>
            </div>
            <div class="col-sm-6 text-left">
                <button id="btn_submitAddResearch" type="button" class="btn btn-success">提 交</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>