<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title text="个人基本信息"></title>
    <script type="text/javascript" data-main="/jscustom/student/baseInfo.js" src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/student/precautionHtml}" class="site_title"><span>研究生推免系统</span></a>
                </div>
                <div class="clearfix"></div>
                <div th:replace="common_stu::commonNav"></div>
            </div>
        </div>
        <div th:include="common_stu::commonTop"></div>

        <!-- 这里放我们的内容 -->
        <div class="right_col" role="main">
            <div class="clearfix"></div>
            <h1><strong>个人基本信息</strong></h1>
            <div class="col-md-10">
                <form class="form-horizontal" id="form_baseInfo" method="post" style="margin: 5px">
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_name"><span class="text-danger">*</span>姓名：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="text" id="u_name" name="u_name" minlength="2" maxlength="20" placeholder="填写2-20个汉字" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_sex"><span class="text-danger">*</span>性别：</label>
                        <div class="col-md-9 col-sm-9">
                            <select class="form-control" id="u_sex" name="u_sex" required="required">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_nationality"><span class="text-danger">*</span>民族：</label>
                        <div class="col-md-9 col-sm-9">
                            <select class="form-control" id="u_nationality" name="u_nationality" required="required">
                                <option value="汉族">汉族</option>
                                <option value="蒙古族">蒙古族</option>
                                <option value="彝族">彝族</option>
                                <option value="侗族">侗族</option>
                                <option value="哈萨克族">哈萨克族</option>
                                <option value="畲族">畲族</option>
                                <option value="纳西族">纳西族</option>
                                <option value="仫佬族">仫佬族</option>
                                <option value="仡佬族">仡佬族</option>
                                <option value="怒族">怒族</option>
                                <option value="保安族">保安族</option>
                                <option value="鄂伦春族">鄂伦春族</option>
                                <option value="回族">回族</option>
                                <option value="壮族">壮族</option>
                                <option value="瑶族">瑶族</option>
                                <option value="傣族">傣族</option>
                                <option value="高山族">高山族</option>
                                <option value="景颇族">景颇族</option>
                                <option value="羌族">羌族</option>
                                <option value="锡伯族">锡伯族</option>
                                <option value="乌孜别克族">乌孜别克族</option>
                                <option value="裕固族">裕固族</option>
                                <option value="赫哲族">赫哲族</option>
                                <option value="藏族">藏族</option>
                                <option value="布依族">布依族</option>
                                <option value="白族">白族</option>
                                <option value="黎族">黎族</option>
                                <option value="拉祜族">拉祜族</option>
                                <option value="柯尔克孜族">柯尔克孜族</option>
                                <option value="布朗族">布朗族</option>
                                <option value="阿昌族">阿昌族</option>
                                <option value="俄罗斯族">俄罗斯族</option>
                                <option value="京族">京族</option>
                                <option value="门巴族">门巴族</option>
                                <option value="维吾尔族">维吾尔族</option>
                                <option value="朝鲜族">朝鲜族</option>
                                <option value="土家族">土家族</option>
                                <option value="傈僳族">傈僳族</option>
                                <option value="水族">水族</option>
                                <option value="土族">土族</option>
                                <option value="撒拉族">撒拉族</option>
                                <option value="普米族">普米族</option>
                                <option value="鄂温克族">鄂温克族</option>
                                <option value="塔塔尔族">塔塔尔族</option>
                                <option value="珞巴族">珞巴族</option>
                                <option value="苗族">苗族</option>
                                <option value="满族">满族</option>
                                <option value="哈尼族">哈尼族</option>
                                <option value="佤族">佤族</option>
                                <option value="东乡族">东乡族</option>
                                <option value="达斡尔族">达斡尔族</option>
                                <option value="毛南族">毛南族</option>
                                <option value="塔吉克族">塔吉克族</option>
                                <option value="德昂族">德昂族</option>
                                <option value="独龙族">独龙族</option>
                                <option value="基诺族">基诺族</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_politics"><span class="text-danger">*</span>政治面貌：</label>
                        <div class="col-md-9 col-sm-9">
                            <select class="form-control" id="u_politics" name="u_politics" required="required">
                                <option value="中共党员">中共党员</option>
                                <option value="中共预备党员">中共预备党员</option>
                                <option value="共青团员">共青团员</option>
                                <option value="群众">群众</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_soldier"><span class="text-danger">*</span>现役军人：</label>
                        <div class="col-md-9 col-sm-9">
                            <select class="form-control" id="u_soldier" name="u_soldier" required="required">
                                <option value="军人">军人</option>
                                <option value="非军人">非军人</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_idnumber"><span class="text-danger">*</span>身份证号：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="text" id="u_idnumber" name="u_idnumber" placeholder="填写18位身份证号" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_birthday"><span class="text-danger">*</span>出生日期：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="text" id="u_birthday" name="u_birthday" placeholder="格式为：xxxx-mm-dd" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_phone"><span class="text-danger">*</span>手机号：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="text" id="u_phone" name="u_phone" placeholder="填写11位手机号码" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_email"><span class="text-danger">*</span>邮箱：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control" type="email" id="u_email" name="u_email" placeholder="填写邮箱" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_location"><span class="text-danger">*</span>居住地：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="text" id="u_location" name="u_location" placeholder="填写居住地" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_school"><span class="text-danger">*</span>本科学校：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="text" id="u_school" name="u_school" placeholder="填写本科学校" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_major"><span class="text-danger">*</span>本科专业：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="text" id="u_major" name="u_major" placeholder="填写本科专业" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_grank"><span class="text-danger">*</span>成绩排名：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="digits" id="u_grank" name="u_grank" placeholder="小数形式，格式为：0.xx" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3 text-right" for="u_srank"><span class="text-danger">*</span>综合排名：</label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control"  type="digits" id="u_srank" name="u_srank" placeholder="小数形式，格式为：0.xx" required="required">
                        </div>
                    </div>

                    <br>
                    <div class="form-group row">
                        <div class="col-sm-6 text-right">
                            <button id="btn_baseSubmit" type="submit" class="btn btn-success">提 交</button>
                        </div>
                        <div class="col-sm-6 text-left">
                            <button id="btn_nextFamily" type="button" class="btn btn-primary">下一步</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- /这里放我们的内容-->

    </div>
</div>
</body>
</html>