<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title text="学生端注意事项"></title>
    <script type="text/javascript" data-main="/jscustom/student/precaution.js" src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/student/precautionHtml}" class="site_title"><span>研究生推免系统</span></a>
                </div>
                <div class="clearfix"></div>
                <div th:include="common_stu::commonNav"></div>
            </div>
        </div>
        <div th:include="common_stu::commonTop"></div>

        <!-- 这里放我们的内容 -->
        <div class="right_col" role="main">
            <h1><strong>学生注意事项</strong></h1>
            <br>
            <h3>推免录取流程为：学生填报并提交志愿，管理员审核通过后，给学生发送复试通知，学生接受复试并且复试通过，管理员给学生发送拟录取通知，学生接受拟录取。</h3>
            <h3>1.填写个人信息（基本信息、家庭成员、竞赛获救、科研经历、社会实践）模块，请按要求填写相关内容，基本信息模块填写完需要点击提交按钮，家庭成员、竞赛获救、科研经历、社会实践模块通过新增按钮进行填写，也可以通过修改和删除按钮进行修改和删除信息。</h3>
            <h3>2.填报志愿。一个人最多可以填报三个志愿，点击新增志愿按钮可以填写志愿信息；每条志愿在提交前允许更改，点击修改志愿按钮可以修改志愿信息；每条志愿在提交前允许删除，点击删除志愿可以删除志愿信息；每条志愿提交后才能被院校审核，点击提交志愿按钮可以提交志愿，志愿一经提交不可更改。</h3>
            <h3>3.确认复试。一个人最多可以接受三个复试通知，点击接受复试按钮可以接受复试，点击拒绝复试按钮可以拒绝复试。</h3>
            <h3>4.确认拟录取。一个人最多可以接受一个拟录取通知，点击接受拟录取按钮可以接受拟录取，点击拒绝拟录取按钮可以拒绝拟录取。</h3>
            <br><br><br>
            <div class="col-sm text-center">
                <button id="btn_nextBase" type="button" class="btn btn-success">已阅读，下一步</button>
            </div>
        </div>
        <!-- /这里放我们的内容-->

    </div>
</div>
</body>
</html>