<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title text="科研经历"></title>
    <script type="text/javascript" data-main="/jscustom/student/researchInfo.js" src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/student/precautionHtml}" class="site_title"><span>研究生推免系统</span></a>
                </div>
                <div class="clearfix"></div>
                <div th:include="common_stu::commonNav"></div>
            </div>
        </div>
        <div th:include="common_stu::commonTop"></div>

        <!-- 这里放我们的内容 -->
        <div class="right_col" role="main">
            <h1><strong>科研经历</strong></h1>
            <!--新增按钮-->
            <div class="row" style="margin: 1px;padding: 1px">
                <div class="col-md-3">
                    <button id="btn_addResearch" type="button" class="btn btn-success btn-sm">
                        <i class="fa fa-plus"></i> 新增科研经历
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <table id="tb_researchInfo" style="cursor: pointer"></table>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 text-center">
                    <button id="btn_nextSocial" type="button" class="btn btn-primary">下一步</button>
                </div>
            </div>
        </div>
        <!-- /这里放我们的内容-->

    </div>
</div>
</body>
</html>