<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>添加学生</title>
    <script type="text/javascript" data-main="/jscustom/admin/addStudent.js" src="https://cdn.bootcdn.net/ajax/libs/require.js/2.3.6/require.min.js"></script>
</head>
<body>
<div class="container">
    <!--表单-新增学生-->
    <form class="form-horizontal" id="form_Student" method="post" style="margin: 5px">
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="name"><span class="text-danger">*</span>学生姓名：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="text" id="name" name="name" placeholder="填写学生姓名" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="address"><span class="text-danger">*</span>地址：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="text" id="address" name="address" placeholder="填写地址" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="age"><span class="text-danger">*</span>年龄：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="digits" id="age" name="age" placeholder="填写年龄" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="sex"><span class="text-danger">*</span>性别：</label>
            <div class="col-md-9 col-sm-9">
                <select class="form-control" id="sex" name="sex" required="required">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="phone"><span class="text-danger">*</span>电话号码：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="tel" id="phone" name="phone" placeholder="如：13812341234" required="required">
            </div>
        </div>
        <!--<div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="establishdate">成立时间：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="text" id="establishdate" name="establishdate" placeholder="如：2005-07">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="employeenumber">员工人数：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="digits" id="employeenumber" name="employeenumber" placeholder="如：200">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="totaloutput">总产值(万元)：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="number" id="totaloutput" name="totaloutput" placeholder="如：128.0000">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="comdesc">公司简介：</label>
            <div class="col-md-9 col-sm-9">
                <textarea  class="form-control" rows="2" id="comdesc" name="comdesc" placeholder="简要的描述公司状况"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="comstatus">运营装填：</label>
            <div class="col-md-9 col-sm-9">
                <select class="form-control" id="comstatus" name="comstatus">
                    <option value="正常运营">正常运营</option>
                    <option value="正在注销">正在注销</option>
                    <option value="已经注销">已经注销</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="contactname"><span class="text-danger">*</span>联系人姓名：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="text" id="contactname" name="contactname" placeholder="" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="contactmobile"><span class="text-danger">*</span>联系人手机号：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="tel" id="contactmobile" name="contactmobile" placeholder="" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-3 text-right" for="contactemail"><span class="text-danger">*</span>联系人邮箱：</label>
            <div class="col-md-9 col-sm-9">
                <input class="form-control"  type="email" id="contactemail" name="contactemail" placeholder="" required="required">
            </div>
        </div>-->
<!--        <div class="upload" id="case" name="case" action="/admin/upload" data-num="3" data-type="jpg,doc,pdf,docx" data-size="10240" data-value=""></div>-->

        <div class="ln_solid"></div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button id="btn_reset" type="reset" class="btn btn-primary">重 置</button>
            </div>
            <div class="col-sm-6 text-left">
                <button id="btn_Submit" type="button" class="btn btn-success">提 交</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>