<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title text="管理员端注意事项"></title>
    <script type="text/javascript" data-main="/jscustom/admin/precaution.js" src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/admin/precautionHtml}" class="site_title"><span>研究生推免系统</span></a>
                </div>
                <div class="clearfix"></div>
                <div th:include="common_admin::commonNav"></div>
            </div>
        </div>
        <div th:include="common_admin::commonTop"></div>

        <!-- 这里放我们的内容 -->
        <div class="right_col" role="main">
            <h1><strong>管理员注意事项</strong></h1>
            <br>
            <h3>推免录取流程为：学生填报并提交志愿，管理员审核通过后，给学生发送复试通知，学生接受复试并且复试通过，管理员给学生发送拟录取通知，学生接受拟录取。</h3>
            <h3>1.审核。每条志愿必须在学生提交之后才能审核等操作；管理员在审核前可以对志愿信息进行修改，通过修改志愿信息按钮可以修改志愿信息；管理员可以查看学生的具体信息，通过查看学生信息按钮可以查看学生详细信息。</h3>
            <h3>2.复试。管理员点击审核通过按钮，系统会向学生发出复试通知；点击审核不通过按钮，学生将不会收到复试通知。</h3>
            <h3>3.拟录取。管理员点击复试通过按钮，系统会向学生发出拟录取通知；点击复试不通过按钮，学生将不会收到拟录取通知。</h3>
            <h3>4.录取名单。管理员可以查看拟录取名单，点击某一行会在表格右侧显示详细信息，点击导出名单按钮，可以下载录取名单的excel文件。</h3>
            <br><br><br>
            <div class="col-sm text-center">
                <button id="btn_readAdmin" type="button" class="btn btn-success">已阅读，下一步</button>
            </div>
        </div>
        <!-- /这里放我们的内容-->

    </div>
</div>
</body>
</html>